body{
  position: relative;
}
#parent{
  height:auto;
  width: auto;
  border:1px solid green;
}


#flash{
  height: auto;
  width:auto;
  border:2px solid red;
}
#name{
  display: flex;
}
.App{
  border:2px solid black;
}



